body{
	background: #e3e3e3 !important;
	#cart{
		display: none;
	}
	.container{
		border-radius: 10px;
		background: #FFF;
		border: solid 1px #bcbcbc;
		padding: 0;
		margin-top: 40px;
		margin-bottom: 40px;

		.title{
			background: rgb(235,204,0);
			background: linear-gradient(0deg, rgba(235,204,0,1) 37%, rgba(255,238,58,1) 79%);
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
			h1{
				font-weight: 400;
			}
		}

		h2{
			font-size: 24px;
			line-height: 2;
			@media(max-width: 768px){
				font-size: 18px !important;
			}
		}

		.content-body{
			padding: 40px;

			.cart-header{
				margin-bottom: 20px;
				@media(max-width: 991px){
					display: none;
				}
				h4{
					font-size: 14px !important;
					color: #494949;
				}
			}

			.content{
				.form-control{
					border: 0 !important;
					border-radius: 6px !important;
				}
				.remove-item{
					width: 20px;
					transition-duration: 0.3s;
					&:hover{
						opacity: 0.5;
					}
				}

			}

			h3{
				font-size: 18px !important;
				@media(max-width: 768px){
					font-size: 16px !important;
				}
			}

			p{
				color: #ff6161 !important;
				font-size: 13px;
			}
			.cart-body{
				padding: 10px 0px;
			}
			.order-amount{
				margin-top: 20px;

				.row{
					padding: 5px 0px;

					.total-amount{
						font-size: 24px !important;
						@media(max-width: 768px){
							font-size: 20px !important;
						}
					}
				}
			}
		}
	}
	.btn-checkout{
	    background: #ebcc00;
	    background: linear-gradient( 
		0deg, #ebcc00 37%, #ffee3a 79%);
	    border: 1px solid #0000;
	    width: 140px;
	    font-size: 16px !important;
	    font-weight: 600;
	    transition-duration: 0.3s;
	    margin-top: 20px;
	}
	.btn-checkout:hover, .btn-checkout:focus{
		opacity: 0.8;
	}

	.form-control:focus, .btn:focus{
		box-shadow: 0 0 0 0.25rem #efff0073 !important;
	}
}
